@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Creepster&family=Galada&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Shadow&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Ultra&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

h1{
    display: flex;
    justify-content: flex-start;
    font-family: "Poppins",cursive;
    cursor: pointer;
    color: #deb522;
}

p{
    display: flex;
    justify-content: flex-start; 
    font-family: "Pacifico",sans-serif;
    color: #21a544;
}


.inputContainer{
    display: flex;
    font-family: "Poppins";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    /* gap: 18px; */
}



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height:auto;
    background-color: #141412; /* Uncomment if you want a background color */
    color: #deb522; /* Uncomment for text color */
}

.background-section {
    height: 50px;
    background-color: #0c0b00;
    color: #deb522;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    /* margin-top: 350px; */
    font-size: 18px;
    gap: 5px;
}


/* Ensure main content area pushes the footer down */
main {
    flex: 1;
}



.movieElements{
    border: 2px solid #deb522;
    padding: 7px;
}



.messageContainer{
 
    height: 470px;
    width: 600px;
    display: flex;
   
    align-self: center;
    justify-self: center;
    flex-direction: column;
    overflow: auto;
    font-family: "Roboto";
    border-radius: 8px;
    display: flex;
    background-color: #00000058;
    
    
}

.newOptions{
    position: relative;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #deb522; */
    gap: 5px;
    padding: 10px;
}
.details{
    display: flex;
    flex-direction: column;
    border: 1px solid #deb522;
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: #ffffffd0;
    color: #0c0b00;
}


.plotElement{
    position: absolute;
}

.d:hover{
    opacity: 1;
}
.opacity {
    opacity: 0;          /* Initially hide the plot text */
    transition: opacity 0.3s ease;  /* Smooth transition for the fade effect */
    position: absolute;
    bottom: 10px;        /* Example positioning of the plot text inside detailsContainer */
    left: 10px;
    right: 10px;
    font-size: 14px;     /* Example font size */
    color: white;        /* Example text color */
}



.details {
    perspective: 1000px; /* Add perspective for 3D effect */
}


.details div {
    transform-style: preserve-3d;
    transition: transform 0.3s;
}



.details:hover{
    background-color: #deb522;
    color: #0c0b00;
    transform: rotateY(-180deg);
}

.size{
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 2px solid #deb522;
   
    padding: 7px;
    padding-bottom: 10px;
    background-color: #ffffffd0;
   
}

.errorMessage{
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
}

.hide{
display: none;
}


.hiding{
    pointer-events: none;
    opacity: 0.8;
    
}




.navContainer{
    display: flex;
    gap: 10px;
}


.filterContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    margin-top: 65px;
   
}



.filterbutton{
    border-radius: 5px;
    width: 115px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
}



.filterbutton:hover{
    background-color: #deb522;
    color: #0c0b00;
    transform: scale(1.1);
    box-shadow: 0 4px 5px #21a544;
}





.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    color:#deb522;
    text-decoration: none;
}

.navigation{
    display: flex;
    flex-direction: row;
 
    padding-top: 20px;
    width: 950px;
    justify-content: flex-end;
    margin-right: 20px;
   
}

.titleContainer{
    display: flex;
    border: 1px solid #deb522;
    border-radius: 8px;
    box-shadow: #deb522;
    background-color: #00000058;
    
}


.titles{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
   
}

a{
    text-decoration: none;
    color: #deb522;
}

.dark{
    background-color:black;
    color: #deb522;
    background-image: url(./src/seats.jpg);
    background-size: cover;
   
    background-repeat: no-repeat;
}
.light{
    background-color: white;
    color: #deb522;
    background-image: url(./src/jakob-owens-CiUR8zISX60-unsplash.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}


.filtersss{
    font-size: large;
    font-family: "Poppins";
    letter-spacing: 1px;
    transition: 0.3s ease-in-out all;
    font-weight:500;
}

.filtersss:hover{
    transform: scale(1.1);
    color: #21a544;
}


a:hover{
    color: #21a544;
}



#movies{
    height: 35px;
    width: 380px;
    text-align: left;
    border: none;
    border-radius: 50px;
    outline: none;
    font-family: "Roboto";
    font-size: 20px;
    color: #deb522;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 2px solid #deb522;
}


#Searchbutton{
    height: 35px;
    width: 90px;
    border: none;
    border-radius: 5px;
    color: #deb522;
    cursor: pointer;
    border:2px solid #deb522;
    transition: all 0.3s ease-out;
    font-weight: bolder;
    font-size: 15px;
    font-family: "Roboto";
    background-color: transparent;
    margin-left: 5px;

}

#Searchbutton:hover{
    background-color: #deb522;
    color: #0c0b00;
    transform: scale(1.1);
    border-color: #21a544;
    /* box-shadow: 0 4px 5px #deb522; */
}

.background-section{
    height: 100px;
    background-color: #0c0b00;
}

