@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Creepster&family=Galada&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Shadow&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Ultra&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

h1{
    display: flex;
    justify-content: flex-start;
    font-family: "Poppins",cursive;
    cursor: pointer;
    color: #deb522;
}

p{
    display: flex;
    justify-content: flex-start; 
    font-family: "Pacifico",sans-serif;
    color: #f1d87e;
    margin-bottom: 3px;
}


.inputContainer{
    display: flex;
    font-family: "Poppins";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    /* border: 1px solid #deb522; */

}



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height:auto;
    background-color: #141412; /* Uncomment if you want a background color */
    color: #deb522; /* Uncomment for text color */
}

.background-section {
    height: 50px;
    background-color: #0c0b00;
    color: #deb522;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    font-size: 18px;
    gap: 5px;
    /* border: 1px solid #deb522; */
}


/* Ensure main content area pushes the footer down */
main {
    flex: 1;
}



.movieElements{
    border: 2px solid #deb522;
    padding: 7px;
    border: 1px solid #deb522;
}



.messageContainer{
 
    height: 470px;
    width: 600px;
    display: flex;
    border: 1px solid #deb522;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    overflow: auto;
    font-family: "Roboto";
    border-radius: 8px;
    display: flex;
    background-color: #00000058;
    
    
}

.newOptions{
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid #deb522;
    gap: 5px;
    padding: 10px;
}
.details{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #deb522;
    border-radius: 5px;
    /* padding: 10px 10px 0px 10px; */
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: #ffffffd0;
    color: #0c0b00;
    overflow: hidden;
}

.ogContainer{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #deb522; */
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: #ffffffd0;
    color: #0c0b00;
    backface-visibility: hidden;
}


.plotElement{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    /* bottom: 10px; */
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Example font size */
    color: #000; /* Text color */
    background-color: rgba(255, 255, 255, 0.8); /* Background to make text readable */
    padding: 10px;
    border-radius: 5px;

}
.details:hover .plotElement {
    visibility: visible;
    opacity: 1; /* Show plot text on hover */
    transform: rotateY(180deg);
    /* transition-delay: 0.4s; */
}

.details:hover .ogContainer {
    visibility: hidden;
    transform: rotateY(180deg);
    opacity: 0; /* Hide the original content on hover */
    transition: opacity 0.3s ease; /* Smooth fade-out effect */
    transition-delay: 0.3s;
}

/* .d:hover{
    opacity: 1;
} */

.opacity {
    opacity: 0;          /* Initially hide the plot text */
    transition: opacity 0.3s ease;  /* Smooth transition for the fade effect */
    position: absolute;
    bottom: 10px;        /* Example positioning of the plot text inside detailsContainer */
    left: 10px;
    right: 10px;
    font-size: 14px;     /* Example font size */
    color: white;        /* Example text color */
}



.details {
    perspective: 1000px; /* Add perspective for 3D effect */
}


.details div {
    transform-style: preserve-3d;
    transition: transform 0.3s;
}




.ogContainer:hover{
    background-color: #deb522;
    color: #0c0b00;
    transform: rotateY(-180deg);
}

.details:hover{
    transform: rotateY(180deg);
}

.size{
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 2px solid #deb522;
   
    padding: 7px;
    padding-bottom: 10px;
    background-color: #ffffffd0;
   
}

.errorMessage{
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
border: 1px solid #deb522;
}

.hide{
display: none;
}


.hiding{
    pointer-events: none;
    opacity: 0.8;
    
}




.navContainer{
    display: flex;
    gap: 10px;
    border: 1px solid #deb522;
}


.filterContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    margin-top: 65px;
    border: 1px solid #deb522;
   
}



.filterbutton{
    border-radius: 5px;
    width: 115px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
}



.filterbutton:hover{
    background-color: #deb522;
    color: #0c0b00;
    transform: scale(1.1);
    box-shadow: 0 4px 5px #21a544;
}





.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    color:#deb522;
    text-decoration: none;
    /* border: 1px solid #deb522; */
}

.navigation{
    display: flex;
    flex-direction: row;
    /* border: 1px solid #deb522; */
    padding-top: 20px;
    width: 950px;
    justify-content: flex-end;
    margin-right: 20px;
   
}

.titleContainer{
    display: flex;
    /* border: 1px solid #deb522; */
    /* border: 1px solid #deb522; */
    border-radius: 5px;
    box-shadow: 0px 3px 6px #deb522;
    background-color: #00000058;
    width: auto;
    
}


.titles{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
   
}

a{
    text-decoration: none;
    color: #deb522;
}

.dark{
    background-color:black;
    color: #deb522;
    background-image: url(./src/seats.jpg);
    background-size: cover;
   
    background-repeat: no-repeat;
}
.light{
    background-color: white;
    color: #deb522;
    background-image: url(./src/jakob-owens-CiUR8zISX60-unsplash.jpg);
    background-size: cover;
  
    background-repeat: no-repeat;
}


.filtersss{
    font-size: large;
    font-family: "Poppins";
    letter-spacing: 1px;
    transition: 0.3s ease-in-out all;
    font-weight:500;
}

.filtersss:hover{
    transform: scale(1.1);
    color: #21a544;
}


a:hover{
    color: #21a544;
}



#movies{
    height: 35px;
    width: auto;
    text-align: left;
    border: none;
    border-radius: 50px;
    outline: none;
    font-family: "Roboto";
    font-size: 20px;
    color: #deb522;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 2px solid #deb522;
}


#Searchbutton{
    height: 35px;
    width: 90px;
    border: none;
    border-radius: 5px;
    color: #deb522;
    cursor: pointer;
    border:2px solid #deb522;
    transition: all 0.3s ease-out;
    font-weight: bolder;
    font-size: 15px;
    font-family: "Roboto";
    background-color: transparent;
    margin-left: 5px;

}

#Searchbutton:hover{
    background-color: #deb522;
    color: #0c0b00;
    transform: scale(1.1);
    border-color: #21a544;
    
}

.background-section{
    height: 100px;
    background-color: #0c0b00;
}

/* Below is the Loader Code */

/* Loader styles */
.loader {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Hide initially */
  }
  
  /* Spinner animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  @media (max-width:1000px){

    h1{
        font-size: 12px;
        /* width: 70px; */
        /* padding-left: 0px; */
    }
    p{
        font-size: 8px;
        width: auto;
    }
    .searchContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 17px;
        margin-top: 15px;

    }
    .inputContainer{
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 5px;
        
    }
    #Searchbutton{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background-section{
        width: auto;
        font-size: 12px;
    }

    .navbar{
        width: auto;
        justify-content: space-evenly;
    }

    #movies{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a{
        font-size: 10px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .switch .slider{
        width: 34px;
        height: 17px;
    }

    .switch .slider::before{
        width: auto;
        height: auto;
    }

    label{
        width: auto;
        height: auto;
    }

    .messageContainer{
        width: auto;
        height: auto;
    }

    .titles{
        margin-left: 10px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .value{
        font-size: 10px;
    }
    .key{
        font-size: 12px;
    }
    /* .value{
        font-size: 10px;
    } */
  }

  .styling{
    display: flex;
    gap: 3px;
}

.key{
    color: #1E3A8A;
    font-weight: bolder;
    font-family: "Poppins";
}


.value{
    color:#333333;
    font-family: "Poppins";
    /* font-weight: bold; */
    /* font-size: 14px; */
}